@charset "UTF-8";

header {
    background-color: rgb(25, 25, 244);
}
h1 {
    font-family: 'Times New Roman', Times, serif
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}    
nav {
    font-weight
}