@charset "UTF-8";

header {
    background-color: rgb(25, 25, 244);
}
h1 {
    font-family: 'Times New Roman', Times, serif
}
h2 {
    font-family: 'Times New Roman', Times, serif;
}    
nav {
    font-weight: 400;
}
.container {
    margin: 20px;
}
form {
    border: 1px solid gray;
    padding: 10px;
}
