
h1 /*seletor*/ {
    background-color: rgb(25, 120, 244);
    color: white;
   
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

.link{
   color: white;
}

nav ul li a {
    font-weight: 400; 
}

.container {
    margin: 20px;
}

#espaçamento {
    line-height: 1.5;
}

form {
    border: 1px solid rgb(65, 64, 64); 
    padding: 10px;
}

p {
    color:rgb(129, 165, 92)
}

#formulario button {
    background-color: rgb(25, 120, 244); 
    color: white; 

}

#rodape {
    border-top: 2px  solid red 
}

.cabecalho {
    background-color: rgb(25, 120, 244); 
    color: white; 
 
}
.cabecalho nav ul li a {
    color: white; 
    text-decoration: none;
}
